<section class="header">
  <div class="container">
    <h1 class="text-center">IDataPrep</h1>
  </div>
</section>
<section>
  <div class="container">
    <mat-horizontal-stepper #stepper>
      <mat-step [stepControl]="firstStep">
        <div class="container">
          <h2 class="text-center">Step 1</h2>
          <form class="example-form">
              <input type="file" class="file_box">
              <button type="submit" class="btn btn-lg btn-primary upload_btn" disabled>Upload</button>
            </form>            
          <button mat-button matStepperNext color="primary">Next</button>
        </div>
      </mat-step>
      <mat-step [stepControl]="secondStep">
        <div>
          Step 2
        </div>
      </mat-step>
      <mat-step>
        <div>
          Step 3
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
    
  </div>
</section>

<router-outlet></router-outlet>
