/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

.file_box{
    width: 300px;
    margin: 25px auto;
    padding-bottom: 3px;
    border-bottom: 1px solid;
    display: block;
}